{% extends 'base.html.twig' %}

{% block title %}New Actors{% endblock %}

{% block body %}
    <h1>Create new Actors</h1>

    {{ include('actors/_form.html.twig') }}

    <a href="{{ path('actors_index') }}">back to list</a>
{% endblock %}
