#nav a{
    color: black;
    margin-left: 20px;
    margin-left: 20px;
}

.active{
    font-weight: bold;
    text-decoration: none;
    color: #183691!important;
}

#nav{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
}

.table-container{
    width: 90%;
    margin: auto;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: auto;
    height: 100px;
}

.btn{
    margin-left: 6px;
}